.hero {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 76px;
    overflow: hidden;
    min-height: 724px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.5%, #000000 100%);
}

.heroBgBelow, .heroBgAbove {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.heroBgAbove {
    z-index: -1;
}

.move {
    position: absolute;
    top: 43%;
    left: 51%;
    width: 936px;
    height: 248px;
    transform: translate(-51%, -43%);
    transition: transform 0.1s;
    z-index: -2;
}

.heroContent {
    padding: 40px 0;
    margin-top: -80px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroContent > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.heroContentColumn {
    max-width: 630px;
    width: 100%;
    text-align: left;
}

.heroContentColumn:nth-child(2) {
    max-width: 370px;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.recommendationWrapper {
    position: relative;
    display: inline-block;
}

.recommendationWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(77px);
    -webkit-backdrop-filter: blur(77px);
    border-radius: 100px;
    z-index: -1;
}


.recommendation {
    padding: 12px 12px;
    border-radius: 100px;
    border: 1px solid #FFFFFF14;
    background: #FFFFFF0D;
    align-items: center;
    justify-content: start;
    margin: 0;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: -0.01em;
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    z-index: 1;
}

.recommendation svg {
    vertical-align: middle;
}

h1 {
    font-size: 72px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
    margin-top: 11px;
    margin-bottom: 23px;
}

.subText {
    font-size: 20px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #C8C8C8;
    padding-right: 40px;
}

.ctaButton {
    background-color: #1C48E5;
    color: white;
    padding: 18px 30px;
    text-align: center;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 27px;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    transition: .3s;
    text-decoration: none;
}

.ctaButton:hover {
    background-color: #132f91;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    max-width: 146px;
    width: 100%;
    gap: 8px;
}

.ratingScore {
    font-size: 13.94px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 18.82px;
    letter-spacing: -0.02em;
    text-align: left;
}

.ratingStars {
    color: #FD8F12;
    letter-spacing: 6px;
}

.ratingRevies {
    font-size: 13.94px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 18.82px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
    margin: 0;
    margin-right: 6px;
}

.ratingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewers {
    display: flex;
    gap: 5px;
}

.reviewerImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -13px;
}



@media screen and (max-width: 768px) {
    .hero {
        padding-top: 337px;
        min-height: unset;
        background: #010101;
        z-index: 1;
    }

    .hero .heroContent > div {
        flex-direction: column;
    }

    .heroBgBelow, .heroBgAbove {
        height: 312px;
        top: 0;
        left: 4px;
    }

    .heroBgAbove {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.5%, #000000 100%);

    }

    .move {
        left: 50%;
        top: 124px;
        translate: unset;
        width: 363px;
        height: auto;
    }

    .heroContent {
        padding: 20px 0 125px;
    }

    .heroContent > .container {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 43.2px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .subText {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.6px;
        letter-spacing: -0.01em;
        margin-top: 10px;
        margin-bottom: 32px;
    }

    .ctaButton {
        font-size: 18px;
        font-weight: 500;
        line-height: 24.3px;
        letter-spacing: -0.02em;
        margin-bottom: 23px;
    }

    .heroContentColumn {
        max-width: unset;
    }

    .heroContentColumn:nth-child(2) {
        max-width: unset;
    }

    .subText {
        padding-right: 0;
    }
}

@media screen and (max-width: 580px) {
    .move {
        left: 204px;
        top: 124px;
        translate: unset;
        width: 363px;
        height: auto;
    }
}