.aboutUs {
    padding: 105px 0;
}

.aboutUs > div {
    gap: 56px;
}

.statsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 640px;
    width: 100%;
    border: 1px solid #B3B3B3;
    border-radius: 24px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    text-align: center;
    gap: 12px;
}

.stat:nth-child(2) {
    border-right: none;
}

.stat:nth-child(4) {
    border-bottom: none;
    border-right: none;
}

.stat:nth-child(3) {
    border-bottom: none;
}

.icon {
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid #B3B3B3;
    border-radius: 12px;
    display: flex;
}

.statText p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 28px;
    text-align: center;
    color: #4A4A4A;
    margin: 0;
}

.statText h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium';
    line-height: 52px;
    text-align: center;
    color: #151515;
    padding-top: 12px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 620px;
    width: 100%;
}

.description h2 {
    font-family: 'GeneralSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #151515;
    margin-bottom: 0;
}

.description ul {
    padding-left: 24px;
    margin-bottom: 26px;
    text-align: left;
}

.description ul li {
    font-size: 18px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium', sans-serif;
    line-height: 24.3px;
    letter-spacing: -0.02em;
    text-align: left;    
}

.button {
    background-color: #1C48E5;
    color: white;
    padding: 18px 64px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: 'GeneralSans-Medium', sans-serif;
    line-height: 27px;
    letter-spacing: -0.02em;
    border-radius: 100px;
    transition: .3s;
}

.button:hover {
    background-color: #132f91;
}

.buttonMobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .aboutUs {
        background-color: #F7F7F7;
        padding: 66px 0 45px;
    }

    .aboutUs > div {
        flex-direction: column-reverse;
        gap: 38px;
    }

    .statsContainer {
        width: 100%;
        max-width: unset;
        grid-template-columns: 1fr;
    }

    .description {
        width: 100%;
    }

    .button {
        display: none;
    }

    .stat{
        border-right: unset;
    }
    
    .stat:nth-child(3) {
        border-bottom: inherit;
    }

    .buttonMobile {
        background-color: #1C48E5;
        color: white;
        padding: 18px 64px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        font-family: 'GeneralSans-Medium', sans-serif;
        line-height: 27px;
        letter-spacing: -0.02em;
        border-radius: 100px;
        margin: 10px 30px 0;
        transition: .3s;
        display: inline-block;
    }

 

    .aboutUs > div {
        gap: 16px;
    }

    .stat {
        padding: 30px 0 14px;
        gap: 2px;
    }

    .statText h3 {
        padding-top: 0;
    }

    .description h2 {
        font-size: 28px;
        line-height: 37.8px;
        letter-spacing: -0.02em;
    }

    .description ul {
        padding-top: 16px;
    }
}